DB_NAME=
DB_USER=
DB_PASSWORD=
TEA_RUN__HOST=
TEA_RUN__PORT=
TEA_DB__URL=
TEA_DB__ECHO=
TEA_ACCESS_TOKEN__RESET_PASSWORD_TOKEN_SECRET=
TEA_ACCESS_TOKEN__VERIFICATION_TOKEN_SECRET=
TEA_SUPERUSER_EMAIL=
TEA_SUPERUSER_PASSWORD=
TEA_SUPERUSER_FIRST_NAME=
TEA_SUPERUSER_LAST_NAME=
TEA_SUPERUSER_PHONE=
TEA_DOCS_PASSWORD=
TEA_SMTP__HOST=
TEA_SMTP__PORT=
TEA_SMTP__USERNAME=
TEA_SMTP__PASSWORD=
TEA_SMTP__FROM_EMAIL=
TEA_SMTP__USE_TLS=